body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-wrapper {
    width: 500px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    border-radius: 8px;
    padding: 40px;
}

#user-input {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: 1px solid #dadada;
    border-radius: 8px;
}

ul.tasks-list {
    list-style-type: none;
    padding: 0;
    margin: 24px 0;
}

.task-item {
    padding: 24px 12px;
    /* border: 1px solid #ddd; */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.task-item:hover {
    background-color: rgba(0, 0, 0, 0.025);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.075);
}

.checkbox:hover {
    background-color: #4aa;
}

.checkbox-filled {
    background-color: #4aa;
}

.completed {
    background-color: rgb(175, 250, 250);
}


.completed:hover {
    background-color: rgb(175, 250, 250);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.075);
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #4aa;
    border-radius: 100%;
}

.task-item span {
    width: 70% !important;
    text-transform: capitalize;
}

[id^=edit_],
[id^=delete_] {
    background-color: gold;
    border: none;
    border-radius: 2px;
    width: 50px;
    font-size: 13px;
}

[id^=delete_] {
    background-color: #ff0000;
    color: #fff;
}

.select-all-wrapper {
    padding: 12px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
}

#select-all {
    width: 20px;
    height: 20px;
}

#filters-dropdown {
    width: 240px;
    padding: 8px;
}